:root{
	--primary__color: #F1F1F1;
	--secondary__color: #3B3B3B;
	--secondary__light_color: #9a9c9e;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--primary__color);
	font-family: 'Montserrat', sans-serif;
	font-family: 'Oswald', sans-serif;
	color: var(--secondary__color);
}
header {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 60px;
 border-bottom: 3px solid #E8E8E8;
}
.header__logo {
	display: flex;
	align-items: center;
	height: 100%;
}
.span__logo{
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	color:#3B3B3B;
	margin-left: 15px;
}
.logo{
	height: 40px;
	width: 50px;
}
.header__menu {
	display: flex;
	gap: 100px;
	height: 100%;
	padding-right: 300px;
}
.menu{
	padding-top: 20px;
	display: inline-block;
	transition: .15s;
}
.menu:hover {
	border-bottom: 3px solid var(--secondary__color);
}
.menu__link {
	text-transform: uppercase;
	height: 100%;
}
.header__contacts {
	display: flex;
	align-items: center;
	
}
.git {
 	max-width: 30px;
}
.a__git{ 
	margin-left: 10px;
}
a {
	text-decoration: none;
	color: var(--secondary__light_color);
	transition: .3s;
}
a:hover {
	color: var(--secondary__color);
}
li img {
	height: 15px;
	padding-right: 5px;
}
.information {
	display: flex;
	padding-left: 10.5vw;
}
.item {
	width: 50%;
}
.item__information {
	width: 100%;
	padding-top: 7vh;
}
.information .item__logo { height: calc(100vh - 63px); margin-left: auto; position: fixed; right: 0; background-color: #c9c7c8; width:40vw; overflow: hidden;}
.item__logo img {
	height: 100%;
	transform: translateX(-150%) scale(2);
	animation: img_ani 1s forwards;
	animation-delay: 200ms;
	opacity: 0;
}
@keyframes img_ani {
	0% {transform: translateX(-150%) scale(2); opacity: 0;}
	100% {transform: translateX(0) scale(1); opacity: 1;}
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 40px;
	transform: translateY(-150%);
	animation: ani 1s forwards ;
}
.item__information_description {
	display: flex;
	padding-top: 50px;
	letter-spacing: 1px;
	overflow: hidden;
}
.name {
	cursor: pointer;
}
.name:hover + #visible {
	transform: translateY(+150%);
}
.name:hover ~ #hidden {
	transform: scale(1);
	visibility: visible;
}
#visible {
	transition: .7s;
}
#hidden {
	position: absolute;
	z-index: 2;
	transform: scale(0);
	left: 410px;
	transition: 1.1s;
}
.item__information div {
	overflow: hidden;
}
.item__information_description span {
	font-size: 24px;
	font-weight: 600;
	transform: translateY(+150%);
	animation: ani 1s forwards;
	animation-delay: 200ms;
}
@keyframes ani {
	0% {transform: translateY(+150%)}
	100% {transform: translateY(0);}
}
.item__information_description p {
	max-width: 400px;
	padding-left: 100px;
	color: var(--secondary__light_color);
}
.information__full {
	padding-top: 16vh;
	width: 100%;
}
.information__open {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid var(--secondary__light_color);
	font-size: 24px;
	padding-top: 8px;
	cursor: pointer;
}
.open {
	display: flex;
	padding-top: 10px;
	width: 100%;
	height: 0px;
	transition: 1s;
	overflow: hidden;

}
.information__open:hover img{
	animation: down .5s ease-in-out;
}
.information__open:focus img {
	animation: rotate .8s ease-in-out;
}
@keyframes down {
	0% {transform: translateY(+15%)}
	100% {transform: translateY(0);}
}
@keyframes rotate {
	0% {transform: rotate(0)}
	100% {transform: rotate(+360deg);}
}
.information__open:focus + .open {
	height: 100px;
}
.open > ul {
	max-width: 390px;
	margin-left: 30px;
}
.open li {
	line-height: 1.5em;
}
.open > a {
	padding: 20px;
	box-sizing: border-box;
	max-width: 160spx;
	height: 70px;
	margin-right: 10px;
	border: 3px dashed var(--secondary__color);
}
p{
	display: flex;
	flex-direction: column;
	max-width: 79vw;
	margin: 0 auto;
}